.LoadingBar {
    display: flex;
    padding: 0 20px;
}

.LoadingBar .outter-percentage {
    display: inline-block;
    width: 200px;
    background: #dedede;
    box-sizing: border-box;
    margin-right: 6px;
    text-align: left;
    border-radius: 4px;
}

.LoadingBar .inner-percentage {
    background: #2277ff;
    height: 100%;
    border-radius: 4px;
}
